<%- include('_includes/header.ejs') -%>

    <div class="container">        
        <h1 class="mt-4">Taller Chart.js en Nodeschool San Miguel</h1>
        <div class="card text-white bg-primary mt-5">
            <div class="card-body">
                <h3>Visualización de Datos con Chart.js</h3>                
                <p> En este taller crearemos 3 gráficas (barras, pastel y lineas) usando la libreria Javascript Chart.js</p>
            </div>
        </div>
        <div class="text-center"><img src="./images/chartjs.jpg" alt="logo chart.js"></div>
    </div>

    <%- include('_includes/footer') -%>