<%- include('_includes/header') -%>

<div class="container">        
    <h1 class="mt-4">Taller Chart.js en Nodeschool San Miguel</h1>
    <div style="position:relative;">
        <canvas class="my-4" id="lienzo" width="800" height="380"></canvas>
    </div>
</div>

<script>
    let context = document.getElementById('lienzo').getContext('2d');
    let miGrafica = new Chart(context, {
        type: 'pie', // horizontaBar, pie, line, doughnut, radar, polarArea
        data:{
            labels:['Sublime Text', 'VS Code', 'Atom', 'Emacs', 'Vim', 'Webstorm'],
            datasets:[{
                data: [4478, 14492, 3354, 610, 4467, 4304],
                backgroundColor: ['#6bd5e1', '#059BFF', '#ffb677', '#ff8364', '#fb929e', '#aedefc'],
                borderWidth: 1,
                borderColor: '#FFF',
                label:'Javascript Frameworks'
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio:false,
            title:{
                position: 'top', // bottom, right, left
                display: true,
                text:'Gráfico de Pastel- Que Editor de Textos Usas.',
                fontSize: 25
            },
            legend:{
                display: true,
                position: 'bottom'
            }
        }
    });

</script>

<%- include('_includes/footer') -%>